<div class="c-single">
	<div class="c-single__images">
		<div class="c-single__images--big">
			<img src="{{ listing.images[0] }}" alt="first" />
		</div>
		<div class="c-single__images--small">
			<img src="{{ listing.images[0] }}" alt="second" />
			<img
				src="{{ listing.images[0] }}"
				alt="third"
				style="border-top-right-radius: 12px"
			/>
			<img src="{{ listing.images[0] }}" alt="fourth" />
			<img
				src="{{ listing.images[0] }}"
				alt="fifth"
				style="border-bottom-right-radius: 12px"
			/>
		</div>
		<div class="c-single__images--show">
			<button mat-stroked-button (click)="openDialog()">
				<mat-icon>apps</mat-icon> Show all photos
			</button>
		</div>
	</div>
	<div class="c-single__title">
		<div class="c-single__title--top">
			<h3 class="c-single__title--top--left">{{ listing.title }}</h3>
			<div class="c-single__title--top--right">
				<mat-icon>share</mat-icon>
				<p>Share</p>
			</div>
		</div>
		<h2 class="c-single__title--bottom">{{ listing.price }} lei</h2>
	</div>
	<div class="c-single__description">
		<div class="c-single__description--left">
			<mat-divider></mat-divider>
			<h5>Description</h5>
			<p>{{ listing.description }}</p>
			<mat-divider></mat-divider>
			<h5>Location</h5>
			<p>{{ listing.location[2] + ' , ' + listing.location[5] }}</p>
			<div class="c-single__description--left--google"></div>
			<mat-divider></mat-divider>
			<h5>Message the seller</h5>
			<mat-form-field appearance="outline">
				<mat-label>Placeholder</mat-label>
				<textarea matInput></textarea>
			</mat-form-field>
			<div class="c-single__description--left--button">
				<button mat-stroked-button disabled>Send</button>
			</div>
		</div>
		<div class="c-single__description--right">
			<div class="c-single__description--right--author">
				<div class="c-single__description--right--author--photo">
					<!-- <img src="{{ listing.author.photo }}" alt="Author" /> -->
				</div>
				<div class="c-single__description--right--author--text">
					<h3>{{ listing.author.fullName }}</h3>
					<p>Joined in {{ listing.author.createdAt }}</p>
					<p>Response rate: 97%</p>
					<p>Response time: within an hour</p>
				</div>
			</div>
			<div class="c-single__description--right--author--buttons">
				<button
					mat-flat-button
					class="c-single__description--right--author--buttons--purchase"
					(click)="scrollToBottom()"
				>
					Purchase
				</button>
				<button
					mat-stroked-button
					class="c-single__description--right--author--buttons--favorite"
					(click)="addToFavorite()"
				>
					<mat-icon>favorite_outline</mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
