@import '../../../../styles/variables.scss';

.c-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  &__description {
    &--title {
      color: $color-black;
      font-size: $font-h5;
      font-weight: $font-bold;
    }
    &--text {
      color: $color-gray-700;
      font-size: $font-body-normal;
      font-weight: $font-regular;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    button {
      width: 40%;
      font-size: $font-button;
      font-weight: $font-semibold;
    }
  }
}
