<div class="c-list" [ngStyle]="{ height: showButtons ? '220px' : '160px' }">
	<div class="c-list__top">
		<div class="c-list__top--image">
			<img src="{{ listing.images[0] }}" alt="Card photo" />
		</div>
		<div class="c-list__top--content">
			<div class="c-list__top--content--header">
				<h1 class="c-list__top--content--header--title">{{ listing.title }}</h1>
				<h4 class="c-list__top--content--header--location">
					<!-- {{ listing.location[2] }},{{ listing.location[5] }} -->
					{{ listing.location[0] }}
				</h4>
			</div>
			<h3 class="c-list__top--content--description">
				{{ listing.description }}
			</h3>
			<h2 class="c-list__top--content--price">{{ listing.price }} lei</h2>
		</div>
		<div class="c-list__top--actions">
			<button
				mat-icon-button
				class="c-list__top--actions--button"
				(click)="setFavorite()"
			>
				<mat-icon [ngStyle]="{ color: favorite ? 'red' : '#98A2B3' }">
					{{ favorite ? 'favorite ' : 'favorite_border' }}
				</mat-icon>
			</button>
		</div>
	</div>
	<mat-divider *ngIf="(role === 0 || role === 1) && showButtons"></mat-divider>
	<div *ngIf="(role === 0 || role === 1) && showButtons" class="c-list__bottom">
		<button mat-button color="warn" (click)="openDeleteDialog()">Delete</button>
		<button mat-button color="primary" routerLink="edit/{{ listing.id }}">
			Edit
		</button>
		<button *ngIf="role === 1" mat-flat-button class="c-list__bottom-approve">
			Approve
		</button>
	</div>
</div>
