@import '../../../styles/variables.scss';

// la content, nu ii pot da un height % ca sa-l fac responsive. am fortat cu min si max height in px
.c-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 12px 0 12px 0;
  box-shadow: none;
  width: 100%;
  border: 1px solid $color-gray-100;
  border-radius: 12px;
  margin: 0;
  &__image {
    width: 40%;
    border-radius: 12px;
    height: 80%;
    object-fit: cover;
    padding: 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
    gap: 0px;
    width: 54%;
    min-height: 260px;
    max-height: 260px;
    &--header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      text-align: center;
      height: 30px;
      width: 95%;
      &--title {
        color: $color-black;
        font-size: $font-body-normal;
        font-weight: $font-semibold;
      }
      &--location {
        color: $color-gray-800;
        font-size: $font-body-tiny;
        font-weight: $font-regular;
      }
    }
    &--description {
      width: 95%;
      height: 170px;
      margin-top: 10px;
      color: $color-gray-400;
      font-size: $font-body-tiny;
      font-weight: $font-regular;
    }
    &--price {
      width: 95%;
      color: $color-black;
      font-size: $font-body-normal;
      font-weight: $font-semibold;
    }
  }
  &__actions {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
  }
}
