<mat-card class="c-card">
	<img
		class="c-card__image"
		src="{{ listing ? listing.images[0] : '' }}"
		alt="Card photo"
		routerLink="/listing/{{ listing?.id }}"
	/>
	<mat-card-content class="c-card__content">
		<h1 class="c-card__content--title">{{ listing?.title }}</h1>
		<h4 class="c-card__content--location">
			{{
				listing ? listing.location[2] + ',' + listing.location[5] : 'Location'
			}}
			<!-- {{ listing.location[2] }},{{ listing.location[5] }} -->
		</h4>
		<h2 class="c-card__content--price">{{ listing?.price }} lei</h2>
	</mat-card-content>
	<mat-card-actions class="c-card__actions">
		<button
			mat-icon-button
			class="c-card__actions--button"
			(click)="setFavorite()"
		>
			<mat-icon [ngStyle]="{ color: favorite ? 'red' : 'white' }">
				{{ favorite ? 'favorite ' : 'favorite_border' }}
			</mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
