<mat-toolbar>
  <div class="c-header">
    <!-- logo with assist  -->
    <img
      routerLink="/"
      class="c-header__logo"
      src="../../../assets/logo/logo-assist-tagline.png"
      alt="Assist logo"
    />
    <!-- categories and search bar  -->
    <div class="c-header__left">
      <!-- categories dropdown  -->
      <div class="c-header__left--categories">
        <app-dropdown></app-dropdown>
      </div>
      <!-- search input  -->
      <div class="c-header__left--search">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Search" type="search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <!-- favorites and profile  -->
    <div class="c-header__right">
      <!-- favorites button  -->
      <div class="c-header__right--favourites">
        <a mat-flat-button href="/favourites" target="_blank"
          ><mat-icon>favorite_border</mat-icon> Favourites</a
        >
      </div>
      <!-- my profile menu  -->
      <div class="c-header__right--profile">
        <a mat-flat-button [matMenuTriggerFor]="menu"
          ><mat-icon style="margin-right: 5px">perm_identity</mat-icon>My
          Account <mat-icon>expand_more</mat-icon></a
        >
        <mat-menu #menu="matMenu">
          <!-- trebuie adaugat routerLink pe menu items -->
          <button mat-menu-item>
            <mat-icon class="c-header__right--profile--icon"
              >perm_identity</mat-icon
            >Sign in
          </button>
          <button mat-menu-item>
            <mat-icon class="c-header__right--profile--icon">security</mat-icon
            >Login & security
          </button>
          <button mat-menu-item>
            <mat-icon class="c-header__right--profile--icon"
              >notifications</mat-icon
            >Notifications
          </button>
          <button mat-menu-item>
            <mat-icon class="c-header__right--profile--icon">chat</mat-icon
            >Messages
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
