<div class="c-nomessages">
	<div class="c-nomesssages__image">
		<img src="../../../../assets/images/chatbot.png" alt="Chatbot" />
	</div>
	<div class="c-nomessages__description">
		<h3 class="c-nomessages__description--title">
			You haven’t sent any messages yet.
		</h3>
		<h5 class="c-nomessages__description--text">
			This is where you’ll find all of your chats and messages.
		</h5>
	</div>
	<div class="c-nomessages__buttons">
		<button mat-flat-button mat-dialog-close>Start exploring</button>
	</div>
</div>
