
<div class="c-home">
    <div class="c-home__title">What are you interested in?</div>
    <!-- latest carousel  -->
    <div class="c-home__carousel">
        <div class="c-home__carousel--top">
            <h3 class="c-home__carousel--top--text">Latest</h3>
            <div class="c-home__carousel--top--button">
                <a mat-flat-button routerLink="category/latest">See everything <mat-icon>arrow_forward</mat-icon> </a>
            </div>
        </div>
        <div class="c-home__carousel--slider">
            <app-carousel></app-carousel>
        </div>
    </div>
    <!-- big houses carousel  -->
    <div class="c-home__carousel">
        <div class="c-home__carousel--top">
            <h3 class="c-home__carousel--top--text">Big Houses</h3>
            <div class="c-home__carousel--top--button">
                <a mat-flat-button routerLink="category/big">See everything <mat-icon>arrow_forward</mat-icon> </a>
            </div>
        </div>
        <div class="c-home__carousel--slider">
            <app-carousel category="big" ></app-carousel>
        </div>
    </div>
    <!-- small houses carousel  -->
    <div class="c-home__carousel">
        <div class="c-home__carousel--top">
            <h3 class="c-home__carousel--top--text">Small houses</h3>
            <div class="c-home__carousel--top--button">
                <a mat-flat-button routerLink="category/small">See everything <mat-icon>arrow_forward</mat-icon> </a>
            </div>
        </div>
        <div class="c-home__carousel--slider">
            <app-carousel category="small"></app-carousel>
        </div>
    </div>
</div>
