@import '../../../styles/variables.scss';

.c-home {
  &__title {
    color: $color-black;
    font-size: $font-h3;
    font-weight: $font-bold;
  }
  &__carousel {
    margin-top: 26px;
    margin-bottom: 26px;
    &--top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &--text {
        color: $color-black;
        font-size: $font-h5;
        font-weight: $font-bold;
      }
      &--button {
        a {
          color: $color-primary-500;
          font-size: $font-button;
          font-weight: $font-bold;
        }
      }
    }
  }
}
