<div class="c-home">
	<!-- guest welcome text  -->
	<div *ngIf="!isLogged" class="c-home__title">What are you interested in?</div>
	<!-- user welcome test  -->
	<div *ngIf="isLogged" class="c-home__logged">
		<div class="c-home__logged--title">
			Welcome back, {{ user?.fullName !== '' ? user?.fullName : ' new user' }}
		</div>
		<button *ngIf="isUser()" mat-flat-button routerLink="add">Add new</button>
	</div>

	<mat-tab-group *ngIf="isLogged" animationDuration="0ms" class="c-home__tabs">
		<mat-tab label="All listings">
			<div *ngIf="isUser()">
				<!-- latest carousel  -->
				<div class="c-home__carousel">
					<div class="c-home__carousel--top">
						<h3 class="c-home__carousel--top--text">Latest</h3>
						<div class="c-home__carousel--top--button">
							<a mat-flat-button routerLink="category/latest"
								>See everything <mat-icon>arrow_forward</mat-icon>
							</a>
						</div>
					</div>
					<div class="c-home__carousel--slider">
						<app-carousel
							category="latest"
							[favorites]="favorites"
						></app-carousel>
					</div>
				</div>
				<!-- big houses carousel  -->
				<div class="c-home__carousel">
					<div class="c-home__carousel--top">
						<h3 class="c-home__carousel--top--text">Big Houses</h3>
						<div class="c-home__carousel--top--button">
							<a mat-flat-button routerLink="category/big"
								>See everything <mat-icon>arrow_forward</mat-icon>
							</a>
						</div>
					</div>
					<div class="c-home__carousel--slider">
						<app-carousel category="big" [favorites]="favorites"></app-carousel>
					</div>
				</div>
				<!-- small houses carousel  -->
				<div class="c-home__carousel">
					<div class="c-home__carousel--top">
						<h3 class="c-home__carousel--top--text">Small houses</h3>
						<div class="c-home__carousel--top--button">
							<a mat-flat-button routerLink="category/small"
								>See everything <mat-icon>arrow_forward</mat-icon>
							</a>
						</div>
					</div>
					<div class="c-home__carousel--slider">
						<app-carousel
							category="small"
							[favorites]="favorites"
						></app-carousel>
					</div>
				</div>
			</div>

			<!-- admin all listings  -->
			<div *ngIf="isAdmin()">
				<!-- filters  -->
				<div class="c-filters">
					<app-filters [(gridView)]="gridView"></app-filters>
				</div>
				<!-- list view  -->
				<div class="c-list">
					<app-list
						*ngFor="let listing of user?.listings"
						[listing]="listing"
						[role]="1"
						[showButtons]="true"
						[favorite]="getFavStatus(listing.id)"
					></app-list>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="My listings  {{ myListings }}">
			<!-- filters  -->
			<div class="c-filters">
				<app-filters [(gridView)]="gridView"></app-filters>
			</div>
			<!-- cards view  -->
			<div class="c-cards" *ngIf="gridView">
				<app-card
					*ngFor="let listing of firebaseUserListings | async"
					class="c-cards__card"
					[listing]="listing"
					[favorite]="getFavStatus(listing.id)"
				></app-card>
			</div>
			<!-- list view  -->
			<!-- <div class="c-list" *ngIf="!gridView">
				<app-list
					*ngFor="let listing of user?.listings"
					[listing]="listing"
					[role]="0"
					[showButtons]="true"
					[favorite]="getFavStatus(listing.id)"
				></app-list>
			</div> -->
		</mat-tab>
		<mat-tab *ngIf="isAdmin()" label="Pending approval"></mat-tab>
	</mat-tab-group>
	<div *ngIf="!isLogged">
		<!-- latest carousel  -->
		<div class="c-home__carousel">
			<div class="c-home__carousel--top">
				<h3 class="c-home__carousel--top--text">Latest</h3>
				<div class="c-home__carousel--top--button">
					<a mat-flat-button routerLink="category/latest"
						>See everything <mat-icon>arrow_forward</mat-icon>
					</a>
				</div>
			</div>
			<div class="c-home__carousel--slider">
				<app-carousel></app-carousel>
			</div>
		</div>
		<!-- big houses carousel  -->
		<div class="c-home__carousel">
			<div class="c-home__carousel--top">
				<h3 class="c-home__carousel--top--text">Big Houses</h3>
				<div class="c-home__carousel--top--button">
					<a mat-flat-button routerLink="category/big"
						>See everything <mat-icon>arrow_forward</mat-icon>
					</a>
				</div>
			</div>
			<div class="c-home__carousel--slider">
				<app-carousel category="big"></app-carousel>
			</div>
		</div>
		<!-- small houses carousel  -->
		<div class="c-home__carousel">
			<div class="c-home__carousel--top">
				<h3 class="c-home__carousel--top--text">Small houses</h3>
				<div class="c-home__carousel--top--button">
					<a mat-flat-button routerLink="category/small"
						>See everything <mat-icon>arrow_forward</mat-icon>
					</a>
				</div>
			</div>
			<div class="c-home__carousel--slider">
				<app-carousel category="small"></app-carousel>
			</div>
		</div>
	</div>
</div>
