<mat-tab-group animationDuration="0ms" class="c-tabs">
	<mat-tab class="c-tabs__item" label="Profile"> profile page</mat-tab>
	<mat-tab class="c-tabs__item" label="Login & security"
		>Login & security page</mat-tab
	>
	<mat-tab class="c-tabs__item" label="Notifications"
		>Notifications page</mat-tab
	>
	<mat-tab class="c-tabs__item" label="Messages">Messages page</mat-tab>
	<mat-divider></mat-divider>
	<mat-tab class="c-tabs__item" label="Logout"
		>Should log out, no content page</mat-tab
	>
</mat-tab-group>
