@import "../../../styles/variables.scss";

mat-form-field {
    display: flex;
    text-align: center;
    color: $color-primary-500;
    font-size: $font-button;
    font-weight: $font-semibold;
    ::ng-deep .mat-select-placeholder {
        color:  $color-primary-500;
    }
}

