<div class="c-single">
	<div class="c-single__images">
		<div class="c-single__images--big">
			<img src="{{ data.images[0] }}" alt="first" />
		</div>
		<div class="c-single__images--small">
			<img src="{{ data.images[1] }}" alt="second" />
			<img
				src="{{ data.images[2] }}"
				alt="third"
				style="border-top-right-radius: 12px"
			/>
			<img src="{{ data.images[3] }}" alt="fourth" />
			<img
				src="{{ data.images[4] }}"
				alt="fifth"
				style="border-bottom-right-radius: 12px"
			/>
		</div>
	</div>
	<div class="c-single__title">
		<div class="c-single__title--top">
			<h3 class="c-single__title--top--left">{{ data.title }}</h3>
			<div class="c-single__title--top--right">
				<mat-icon>share</mat-icon>
				<p>Share</p>
			</div>
		</div>
		<h2 class="c-single__title--bottom">{{ data.price }} lei</h2>
	</div>
	<div class="c-single__description">
		<div class="c-single__description--left">
			<mat-divider></mat-divider>
			<h5>Description</h5>
			<p>{{ data.description }}</p>
			<mat-divider></mat-divider>
			<h5>Location</h5>
			<p>{{ data.location }}</p>
			<div class="c-single__description--left--google"></div>
			<mat-divider></mat-divider>
			<h5>Message the seller</h5>
			<mat-form-field appearance="outline">
				<mat-label>Placeholder</mat-label>
				<textarea matInput disabled></textarea>
			</mat-form-field>
			<div class="c-single__description--left--button">
				<button mat-stroked-button disabled>Send</button>
			</div>
		</div>
		<div class="c-single__description--right">
			<div class="c-single__description--right--author">
				<div class="c-single__description--right--author--photo">
					<!-- <img src="{{ listing.author.photo }}" alt="Author" /> -->
				</div>
				<div class="c-single__description--right--author--text">
					<h3>{{ fullName }}</h3>
					<p>Joined in {{ createdAt }}</p>
					<p>Response rate: 97%</p>
					<p>Response time: within an hour</p>
				</div>
			</div>
			<div class="c-single__description--right--author--buttons">
				<button
					mat-flat-button
					class="c-single__description--right--author--buttons--purchase"
				>
					Purchase
				</button>
				<button
					mat-stroked-button
					class="c-single__description--right--author--buttons--favorite"
				>
					<mat-icon>favorite_outline</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="c-single__footer">
		<p>This is a preview of your listing</p>
		<div class="c-single__footer--actions">
			<button
				mat-stroked-button
				class="c-single__footer--actions--edit"
				mat-dialog-close
			>
				Edit
			</button>
			<button mat-stroked-button class="c-single__footer--actions--publish">
				Publish
			</button>
		</div>
	</div>
</div>
