/* You can add global styles to this file, and also import other style files */
@import "./styles/variables.scss";

html, body { height: 100%;font-family: $primary_font_family;  }
body { margin: 0; 
  font-family: $primary_font_family; 
}

// added from the default css file of the project

*:where(:not(iframe, canvas, img, svg, video, input):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $primary_font_family;
}

a,
button {
  cursor: revert;
  pointer-events: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  -webkit-linebreak: after-white-space;
  overflow-wrap: break-word;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

// material overwrite css

.myPanelClass{
  margin-top: 35px;
}

.c-select__category{
  color: $color-primary-500;
  position: relative;
  min-width: 130px;
  max-width: 130px;
  max-height: 15px;
  min-height: 15px;
  .mat-select-placeholder, .mat-select-placeholder:focus{
    color: $color-primary-500;
  }
  .mat-select-arrow {
    margin-top: 5px;
  }
}
.c-select__filter{
  color: $color-black;
  position: relative;
  .mat-select-placeholder{
    color: $color-black;
  }
  .mat-select-arrow {
    margin-top: 5px;
  }

}

// removes the outline of the mat-form-field from the filters 
.c-filters__right--order, .c-filters__left--price, .c-filters__left--locations{
  .mat-form-field-appearance-outline .mat-form-field-outline{
       display: none;
       outline: none;
       opacity: 0;
     }
  padding-bottom: 7px;
}
