@import '../../../../styles/variables.scss';

.c-security {
	&__title {
		color: $color-black;
		font-size: $font-h4;
		font-weight: $font-bold;
		margin-bottom: 40px;
	}
	&__content {
		h2 {
			color: $color-black;
			font-size: $font-h5;
			font-weight: $font-bold;
			margin-top: 30px;
		}
		&--item {
			&--top {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin-top: 20px;
				&--text {
					color: $color-gray-700;
					font-size: $font-body-normal;
					font-weight: $font-regular;
					font-family: $primary_font_family;
					margin-bottom: 0;
				}
				&--button {
					color: $color-primary-500;
					font-size: $font-button;
					font-weight: $font-semibold;
				}
				&--deactivate {
					color: $color-alert-500;
					font-size: $font-button;
					font-weight: $font-semibold;
				}
			}
			&--bottom {
				color: $color-gray-400;
				font-size: $font-body-small;
				font-weight: $font-regular;
				font-family: $primary_font_family;
				margin-bottom: 15px;
			}
		}
		&--option {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			&--left {
				color: $color-gray-400;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 10%;
				height: 100%;
				mat-icon {
					margin-top: 10px;
					transform: scale(1.8);
				}
			}
			&--right {
				width: 90%;
				&--top {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					margin-top: 20px;
					&--text {
						color: $color-gray-700;
						font-size: $font-body-normal;
						font-weight: $font-regular;
						font-family: $primary_font_family;
						margin-bottom: 0;
					}
					&--button {
						color: $color-primary-500;
						font-size: $font-button;
						font-weight: $font-semibold;
					}
				}
				color: $color-gray-400;
				font-size: $font-body-small;
				font-weight: $font-regular;
				font-family: $primary_font_family;
				margin-bottom: 15px;
			}
		}
	}
}
